* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;


	&::-webkit-scrollbar {
		width: 1vw;
	}

	&::-webkit-scrollbar-track {
		background-color: #ffffff;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #d8d6d6;
		border-radius: 1vw;
		border: 0.2vw solid #ffffff;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #9f9f9f;
	}
}

@font-face {
	font-family: "Caveat";
	font-weight: 400;
	font-style: normal;
	src: url(../Source/fonts/Caveat-Regular.ttf);
}

@font-face {
	font-family: "Caveat";
	font-weight: 500;
	font-style: normal;
	src: url(../Source/fonts/Caveat-Medium.ttf);
}

@font-face {
	font-family: "Caveat";
	font-weight: 600;
	font-style: normal;
	src: url(../Source/fonts/Caveat-SemiBold.ttf);
}

@font-face {
	font-family: "Caveat";
	font-weight: 700;
	font-style: normal;
	src: url(../Source/fonts/Caveat-Bold.ttf);
}

@font-face {
	font-family: "Lobster-Regular";
	font-weight: 400;
	font-style: normal;
	src: url(../Source/fonts/Lobster-Regular.ttf);
}